.bookContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.book {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    min-height: 600px
}

.book h2 {
    min-height: 100px;
}

.coverImage {
    width: 200px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: transform 0.3s ease; 
}

.coverImage:hover {
    transform: scale(1.2);
}

.bookDescription {
    overflow: auto;
    max-height: 250px;
    min-height: 250px;
    flex-grow: 1;
    color: rgb(103, 102, 102);
}

.category {
    display: flex;
    flex-wrap: wrap;
}

.categoryContainer {
    max-height: 100px;
    overflow: auto;
    margin: 30px 0;
}

.categoryItem {
    background-color: #eaeaea;
    font-size: 10pt;
    padding: 5px 10px;
    margin: 5px 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.bookButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bookButtons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bookButtons button:first-child {
    background-color: #E853AA;
    color: white;
}

.bookButtons button:first-child:hover {
    background-color: #ca398e;
}

.bookButtons button:last-child {
    background-color: #E853AA;
    color: white;
}

.bookButtons button:last-child:hover {
    background-color: #ca398e;
}

@media (max-width: 768px) {
    .book {
        flex-direction: column; 
        min-height: auto; 
    }

    .coverImage {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px; 
    }

    .bookDescription {
        max-height: none;
    }

    .categoryContainer {
        max-height: none; 
    }

    .bookButtons {
        flex-direction: column; 
    }

    .bookButtons button {
        width: 100%; 
        margin-bottom: 10px; 
    }
}
