.container {
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    padding: 50px;
    background-color: #F4E4BA;
    font-size: 14pt;
}

.header button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #E853AA;
    color: white;
    cursor: pointer;
}

.header button:hover {
    background-color: #ca398e;
}

.header h1 {
    font-size: 28pt;
}

.content {
    padding: 50px;
}

.search {
    margin-bottom: 20px;
    width: 30%;
    padding: 5px;
}

.bookList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bookItem {
    width: 49%;
}

@media (max-width: 1120px) {

    .bookItem {
       width: 45%;
    }

}

@media (max-width: 975px) {

    .bookItem {
       width: 100%;
    }

}

@media (max-width: 768px) {

    .bookItem {
       width: 45%;
    }

    .bookList {
        justify-content: center;
    }
}
