.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: transparent !important;
}

#text-behind, #text-front, #text-behind-blur {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  text-align: center;
  font-size: clamp(24px, 20vw, 200px);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 0.8;
}

#text-behind {
  color: white;
  z-index: 1;
}

#text-behind-blur {
  color: white;
  filter: blur(7.5px);
  -webkit-filter: blur(7.5px);
  z-index: 0;
}

#text-front {
  color: transparent;
  -webkit-text-stroke: 2px white;
  z-index: 3;
}
