.panelContainer {
    width: 100%;
    padding: 15px;
    height: 100%;
    background-color: white;
}

.chapterList {
    padding: 0;
    overflow: auto;
    max-height: 600px;
}

.chapterItem {
    cursor: pointer;
    margin: 0 20px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-color 0.3s;
    border-bottom: 2px solid transparent; 
    border-top: 2px solid transparent; 
    padding: 5px;
}

.addChapter {
    margin-top: 10px;
    cursor: pointer;
    color: blue;
}

.addChapterNoChapters {
    cursor: pointer;
    color: blue;
}

.chapterItem.selected {
    border-bottom-color: var(--button-color);
    border-top-color: var(--button-color);
    font-weight: bold;
}

.chapterItem:hover {
    border-bottom-color: var(--button-color);
    border-top-color: var(--button-color);
    transform: scale(1.03);
}