.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storyHeadline {
  align-self: baseline;
  font-size: 36px;
  margin-left: 30px;
}

.chapterHeadline {
  align-self: baseline;
  font-size:28px;
  margin-left: 30px;
}

.storyText {
  width: 600px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.582);
  overflow: auto;
  border-radius: 10px;
  text-align: justify;
  border: 1px solid #F7B2B2;
  padding: 20px;
  margin-left: 30px;
}

.chapterSelection {
  border-right: 2px solid white;
}

.storyDetails {
  width: 700px;
}